= devise_error_messages! :class => 'centered w30'
.box.centered.w30
  = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
    %h2 Resend unlock instructions
    %hr.shadow/
    .field.w30
      = f.label :email, _("Email")
      = f.email_field :email
    .actions
      %button.white{:type => "submit"} Resend unlock instructions
  = render :partial => "devise/shared/links"
