<ul class="TourNavigation left">
  <% steps.each do |name, description| %>
    <li class="<%= name %> <%= 'selected' if params[:page] == name.to_s %>">
      <a href="<%= tour_path(name) %>">
        <h2><%= name.to_s.titleize %></h2>
        <p><%= description %></p>
      </a>
    </li>
  <% end %>
</ul>