%h1 Bulk upload

%p Choose a CSV file to upload, containing subscriptions to reminders in the account. The file must have the following fields:

%ol
  %li Subscriptor phone number
  %li Keyword of the reminder to subscribe to
  %li Subscription offset (optional)

%p For example:
%pre
  :preserve
    555-1000, PREGNANCY, 5
    555-2000, HELLO, 0

%hr
%br/

= form_tag bulk_uploads_path, multipart: true do
  .field
    = label_tag :file, "File"
    %p CSV file with the required format
    = file_field_tag :file
  .field
    = label_tag :time, "Message time of day"
    %p Messages will be sent to the subscribers at this hour of the day (GMT), or use the current time if left blank.
    = text_field_tag :time, '', type: 'number', min: 1, max: 24
    hours GMT
  .field
    = label_tag nil, "Unsubscribe from other reminders"
    %p If checked, subscribers will be unsubscribed from all other reminders in this account before subscribing them to the specified one.
    = check_box_tag :unsubscribe, true, false
    = label_tag :unsubscribe, "Unsubscribe", class: 'radio'

  .actions
    %button.white{:type => "submit"} Upload
    = link_to _('Cancel'), schedules_path

- if @upload && !upload.valid?
  %hr
  %h2 Errors
  %p The following errors were found, please correct them and re-upload the file.

  %dl
    - @upload.subscriptions.each do |s|
      - if s.errors.any?
        %dt
          In line
          = s.index
        %dd
          = errors.full_messages.join("; ")

