.CurrentChannelBox.box.grey
  .left
    %p.black Reminders channel
    %p.grey
      Bidirectional (#{current_user.channel.address.strip})
      - if @last_log
        , last activity #{time_ago_in_words @last_log.created_at} ago
  = link_to '', channel_path(current_user.channel), :method => :delete, :class => 'icon fdelete right'
.LocalGatewayBox.box.plain.white
  .LocalGatewayLogo.left
  .LocalGatewayText.left
    will help you to send reminders from your mobile phone, #{link_to _('learn More'), tour_path(:start)}.
  = link_to _('Change channel'), new_channel_path(:choose_local_gateway), :remote => true, :class => 'button white right'
  .LocalGatewayArrow.right
